.PageTwitter {
display: flex;
background-color: #15202b;
width: 100vw;
height: 100vh;
padding: 0;
margin: 0;
font-family: Roboto, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left {
display: flex;
flex-direction: column;
height: 100vh;
width: 25vw;
justify-content: space-between;

}

.center {
border: solid rgba(114,131,148,.455);
border-width: 0 1px;
/* overflow: scroll; */
display: flex;
flex-direction: column;
height: 100vh;
width: 50vw;
}

.tweetscroll {
overflow-y: scroll;
}

.right {
display: flex;
height: 100vh;
width: 25vw;
}

.logo {
inset: 0px;
margin-left: 40px;
margin-top: 30px;
}

.user{
inset: 0px;
margin-left: 40px;
margin-bottom: -25px;  
}

.userimg {
border-radius: 50%;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 75px;
    background-color: transparent;
    border: 1px solid #728394;
    border-radius: 40px;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 40px;
    color: white;
}

.titleHome {
display: block;
color: white;
font-size: 30px;
margin-top: 0;
margin-bottom: 0.5em;
font-weight: 500;
padding-top: 10px;
padding-left: 20px;
}

.Trends {
display: block;
color: white;
font-size: 30px;
margin-top: 0;
margin-bottom: 0.5em;
font-weight: 500;
padding-top: 10px;
padding-left: 20px; 
}

.id {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.name {
    margin-right: 5px;
    font-size: 15px;
    margin-bottom: 0;
    color: white;
}
  
.username {
    font-size: 15px;
    color: rgb(114, 131, 148);
    margin-right: 5px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.textinput {
    display: flex;
    justify-content: center;
}

.addTweet {
    justify-content: center;    
}

.input {
    width: 80%;
    height: 50px;
    background-color: transparent;
    border-width: 0 0 1px;
    font-size: 20px;
    font-weight: 500;
    color: #d3d3d3;
}

.contentundertext {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #409bf1;
    border: none;
    border-radius: 40px;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.textlength {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.userInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 12px;
}

